亲爱的 <span th:text="${username}">username</span>，<br></br><br></br>这封信是由 维金荟www.vmoney.cn 发送的。<br></br><br></br>

您收到这封邮件，是由于在 维金荟 进行了邮箱绑定，或修改邮箱地址使用了这个邮箱地<br></br>址。如果您并没有访问过 维金荟网站www.vmoney.cn，或没有进行上述操作，请忽略这封<br></br>邮件。您不需要退订或进行其他进一步的操作。

<br></br><br></br><br></br>
----------------------------------------------------------------------<br></br>
帐号激活说明<br></br>
----------------------------------------------------------------------<br></br>
<br></br>

如果您正在 维金荟 进行邮箱绑定，或修改您之前绑定的邮箱地址时使用了本地址，我们需<br></br>要对您的地址有效性进行验证以避免垃圾邮件或地址被滥用。
<br></br><br></br>
您只需点击下面的链接即可激活您的帐号：<br></br>
<a th:href="${validateURL}"><span th:text="${validateURL}">validateURL</span></a><br></br>
(如果上面不是链接形式，请将该地址手工粘贴到浏览器地址栏再访问)<br></br><br></br>

感谢您的访问，祝您使用愉快！<br></br><br></br>

此致<br></br>
维金荟运营管理团队.<br></br>
<a href=" http://www.vmoney.cn/"> http://www.vmoney.cn/</a>